/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fafafa;
    margin: 0;
}
.hero {
    width: 100%;
    height: 85vh;
    background-image: url("image/hero.jpg");  /* change name */
    background-size: cover;      /* makes it fill properly */
    background-position: center; /* keeps it centered */
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.hero-content {
    position: relative;
    color: white;
    z-index: 2;
    text-align: center;
}



/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background: #111;
    color: #fff;
}

.logo {
    font-size: 22px;
    font-weight: 600;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.nav-links a:hover {
    opacity: 0.7;
}


.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
}

.hero button {
    padding: 12px 25px;
    background: #fff;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

/* PRODUCTS */
.products-section {
    padding: 80px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 28px;
}

.products {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    padding: 0 40px;
}

.product {
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid #eee;
    transition: 0.3s ease;
}

.product:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.08);
}

.product img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.product-content {
    padding: 20px;
}

.product h3 {
    font-size: 17px;
    margin-bottom: 8px;
}

.product p {
    font-weight: bold;
    margin-bottom: 15px;
}
.qty-input {
    width: 60px;
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.product button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #111;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
}

.product button:hover {
    background: #333;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    background: #111;
    color: #fff;
    margin-top: 80px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .products {
        grid-template-columns: 1fr;
    }
}
